
/* Chamando as Tags */
*{
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: white;
text-decoration: none;
padding: 0;
margin: 0;
}

body{
    background: rgb(52,73,93);
background: linear-gradient(0deg, rgba(52,73,93,1) 0%, rgba(28,40,51,1) 100%);
}
/* Chamandos os ID */

#cabecalho{
display: flex;
justify-content: space-between;
align-items: center;
background: #151515;
color: white;
height: 89px;
background-size: 60% 60%;
}

#artigo{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

/* Chamando as classes */
.cabecalho-logo{
    padding-left: 0.5rem;
}


.cabecalho-logo-link{
    padding-right: 0.5rem;
}
.cabecalho-logo-link-home{
    padding: 0 0.5rem 0 0.5rem;
    background: #1E507E;
    border-radius: 7px;
    

}

.artigo-subtitulo{
    font-size: 48px;
    color: hsl(0, 0%, 100%);
    
}
.artigo-paragrafo{
    width: 877px;
    font-size: 18px;
  
}
.artigo-imagem{
    width: 682.538px;

}

.botao{
    margin-top: 0.3rem;
    border-radius: 7px;
border: 1px solid #000;
cursor: pointer;

background: #1E507E;
}
.rodape{
    background: #151515;
    display: flex;
    justify-content: center;
    height: 95px;
    align-items: center;
}
